/*
 * Copyright (c) 2023 Andrei Gaevskii
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <150>; };

&mt { quick_tap_ms = <150>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
          &kp GRAVE     &kp N1  &kp N2    &kp N3     &kp N4     &kp N5    &kp N6  &kp N7  &kp N8     &kp N9    &kp N0    &kp MINUS
&kp LALT  &kp TAB       &kp Q   &kp W     &kp E      &kp R      &kp T     &kp Y   &kp U   &kp I      &kp O     &kp P     &kp LEFT_BRACKET  &kp RALT
          &kp CAPSLOCK  &kp A   &kp S     &kp D      &kp F      &kp G     &kp H   &kp J   &kp K      &kp L     &kp SEMI  &kp SQT
          &kp LSHIFT    &kp Z   &kp X     &kp C      &kp V      &kp B     &kp N   &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp RSHIFT
                                &kp LGUI  &kp LCTRL  &kp SPACE  &mo 1     &mo 1   &mo 2   &kp RCTRL  &kp RGUI
            >;
        };

        lower_layer {
            bindings = <
        &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp RG(GRAVE)  &kp F5        &kp F6        &kp F7          &kp F8     &kp RSHIFT  &kp PRINTSCREEN  &kp SCROLLLOCK  &kp PAUSE_BREAK
&trans  &kp ESCAPE  &kp F1             &kp F2           &kp F3         &kp F4        &kp ESCAPE    &kp MINUS       &kp F9     &kp F10     &kp F11          &kp F12         &kp BACKSLASH    &trans
        &trans      &kp EXCL           &kp AT           &kp HASH       &kp DLLR      &kp COLON     &kp UNDERSCORE  &kp LBRC   &kp LPAR    &kp RPAR         &kp RBRC        &kp PLUS
        &trans      &kp PERCENT        &kp CARET        &kp AMPERSAND  &kp ASTERISK  &kp PIPE      &kp EQUAL       &kp LBKT   &kp LT      &kp GT           &kp RBKT        &trans
                                       &trans           &trans         &trans        &kp ESCAPE    &kp ENTER       &kp ENTER  &trans      &trans
            >;
        };

        raise_layer {
            bindings = <
       &kp C_MUTE  &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp KP_DIVIDE    &kp KP_ASTERISK  &kp KP_NUM      &kp C_PREV  &kp INSERT  &kp C_PP           &kp C_VOLUME_DOWN   &kp C_VOLUME_UP  &kp C_NEXT
&mo 3  &kp ESCAPE  &kp KP_SLASH       &kp KP_N7        &kp KP_N8        &kp KP_N9        &kp KP_MINUS    &kp ENTER   &kp DELETE  &kp BACKSPACE      &kp PAGE_UP         &kp PAGE_DOWN    &kp RSHIFT  &lt 3 KP_ENTER
       &trans      &kp KP_MULTIPLY    &kp KP_N4        &kp KP_N5        &kp KP_N6        &kp KP_PLUS     &kp RSHIFT  &kp HOME    &kp UP             &kp END             &kp RGUI         &kp RCTRL
       &trans      &kp KP_N0          &kp KP_N1        &kp KP_N2        &kp KP_N3        &kp KP_ENTER    &kp RCTRL   &kp LEFT    &kp DOWN           &kp RIGHT           &kp RIGHT_ALT    &kp KP_N0
                                      &trans           &mt LCTRL KP_N0  &kp KP_DOT       &kp ESCAPE      &kp ENTER   &trans      &kp RG(BACKSLASH)  &kp K_CONTEXT_MENU
            >;
        };

        adjust_layer {
            bindings = <
       &kp C_POWER  &none         &none         &none         &none         &none           &none         &none         &none         &none         &none         &none
&none  &bootloader  &none         &none         &none         &none         &none           &none         &none         &none         &none         &none         &bootloader  &none
       &bt BT_CLR   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &bt BT_SEL 4  &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1  &bt BT_SEL 0  &bt BT_CLR
       &sys_reset   &none         &none         &none         &none         &none           &none         &none         &none         &none         &none         &sys_reset
                                  &none         &trans        &none         &trans          &trans        &none         &trans        &none
            >;
        };
    };
};
